.*
node_modules/
nbproject/
*.code-workspace
Thumbs.db

# CI test files
test/
travis/
appveyor.yaml

# Type checking configuration
tsconfig.json
tsconfig.*.json

# npm package files
iobroker.*.tgz
package-lock.json

eslint.config.mjs
prettier.config.mjs